* {
    font-family: "Noto Serif TC", "Newsreader", serif;
    line-height: 1.5;
    font-weight: 500;
}


button {
    border: 0;
    background-color: transparent;
}

a {
    text-decoration: none;
}

.fs-1,
.fs-2,
.fs-3,
.fs-4,
.fs-5,
.fs-6 {
    letter-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.1em;
    font-weight: 700;
}

p {
    letter-spacing: 0.05em;
}

img {
    max-width: 100%;
    height: auto;
}

.breadcrumb-item {
    a {
        color: $gray-400;
    }

    &.active {
        color: $accent-200;
    }
}

.basic-section {
    padding: 60px 0;

    @include pad {
        padding: 80px 0 100px 0;
    }
}