$utilities: map-merge($utilities,
    ("font-size": map-merge(map-get($utilities, "font-size"),
        (responsive: true,
        )),
    ));

$utilities: map-merge($utilities,
    ("width": map-merge(map-get($utilities, "width"),
        (responsive: true,
        )),
    ));

$utilities: map-merge($utilities,
    ("rounded": (property: border-radius,
        class: rounded,
        values: (null: $border-radius,
          0: 0,
          1: $border-radius-lg,
          // 2: $border-radius,
          // 3: $border-radius-lg,
          circle: 50%,
          pill: $border-radius-pill )),
    ));