<footer class="footer">
    <div class="container">
        <div class="border-top border-gray-300">
            <p class="py-4 text-tea-400 text-center">©Vivre 2024 All right Reserved</p>

        </div>
    </div>
   
</footer>