.custom-form {

    label,
    input {
        letter-spacing: 0.1em;
    }

    label {
        color: $gray-500;
        margin-bottom: 12px;
        font-weight: bold;

        &.disabled {
            color: $gray-300;
        }

        &.error {
            color: $danger;
        }
    }

    input.form-control {
        border: 0;
        background: $gray-100;
        padding: 12px 16px;
        border-radius: 0;

        &.error {
            border: 1px solid $danger;
        }

        &::placeholder {
            color: $gray-300;
        }

        &:focus {
            color: $gray-500;
        }

    }

    .form-check {
        display: flex;
        align-items: center;
        padding: 8px;

        label {
            font-weight: normal;
        }

        .form-check-input,
        .form-check-label {
            margin: 0;
        }

        .form-check-input {
            margin-right: 8px;
        }

        input[type=radio] {
            border: $accent-200 1px solid;
            background-color: white;

            &:checked {
                background-color: $accent-200;
            }
            &:disabled {
                background-color: $gray-300;
            }

        }
    }
}